body {
  overflow-x: hidden;
  overflow-y: scroll;
}

body .navbar {
  border: 0;
  border-bottom: 1px solid #eee;
  border-radius: 0;
}

.container-fluid {
    padding: 0 15px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
color: #000;
background-color: #ebebeb;
}
.footer {
  border-top: 1px solid #eee;

}
.footer .menu {
  float: right;
  list-style: none;
  line-height: 50px;
  margin-bottom: 0;
  margin-right: 15px;
}
.footer .menu li {
  float: left;
  margin-left: 15px;
}