

  {{#email}}
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-12" style="padding-top: 15px;">

  <h2 style="float: left; width: 300px; margin-top: 0; margin-bottom: 15px;">Editing</h2>
  <button class="btn btn-success save-resume" style="float: right; margin-bottom: 15px">Save</button>
  <a href="resume/3" class="btn btn-info" style="float: right; margin-bottom: 15px; margin-right: 15px;">Public URL</a>

  </div>
    </div>
    
</div>
  <div id="epiceditor"></div>
  {{/email}}
  {{^email}}
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-12" style="padding-top: 15px;">
  <p>Write your resume in markdown, and automatically generate a stylish resume, share the public url if you wish.</p>
  <a href="http://markdownresume.com/resume/3">View an example</a>
  <h4>Opensource</h4>
  <p>Currently the application code is hosted on Github, feel free to fork and fix things you require or add new features.</p>
  <a href="https://github.com/thomasdavis/resume">Client Repository</a>
  <h4>Roadmap</h4>
  <ul>
    <li>Export to PDF</li>
    <li>Visitor Analytics</li>
    <li>Option to store your resume privately, and share with specific people</li>
    <li>More themes</li>
    <li>Export functionality</li>
  </ul>
  </div>
    </div>
</div>
  {{/email}}
