@import url(http://fonts.googleapis.com/css?family=Abel);
body { 
font:1em/1.625em; 
background-color:#fff;  
font-family: 'Abel', sans-serif;
font-size-adjust:none;
font-style:normal;
width: 850px;
margin: 20px auto;
max-width: 90%;
font-weight:normal;
}
